# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle
build/

# IntelliJ
*.iml
.idea/

# Eclipse
*.metadata
*.classpath
*.project
*.settings/

# Others
*.log
*.tmp
*.swp
*.DS_Store

